
<div class="container-fluid">
    <div class="title">
        <h1>
          Eurogather!
        </h1>  
    </div>
  <div class="row">
    <div class="col-md-9">
      <div class="central-container">
        <h1>teste</h1>
       
      </div>
    </div>
    <div class="col-md-3">
      <div class="right-bar">
        <div class="d-flex justify-content-center h-100">
          <div class="image_outer_container">
            <div class="image_inner_container">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqZJOzhw6-xhnjU2qnCi_U0aEE2u7ngwrCzKJXHuQvMYzxcboY">
            </div>
          </div>
        </div>
        <div class="username-label">
          <div id="name"><h5>Welcome  {{ username }}!!</h5></div><a title="Logout" (click)="logout()"><div id="icon"></div></a>
        </div>
        <div class="user-stats">
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>          
        </div>
      </div>
    </div>
  </div>
</div>  
